@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>關於The Kingdom of Priests  (祭司的國度)</h2>
<p>
    “我向埃及人所行的事，你們都看見了…要在萬民中作屬我的子民…你們要歸我作祭司的國度，為聖潔的國民。這些話你要告訴以色列人。” (出埃及記第十九章四至六節)
    惟有你們是被揀選的族類，是有君尊的祭司，是聖潔的國度，是屬神的子民，要叫你們宣揚那召你們出黑暗入奇妙光明者的美德。(彼得前書第二章九節)
</p>

<p>
    聖經的新舊約同樣指出信徒是祭司。什麼是祭司？根據拉丁文，祭司事有築橋者的意思。也就是說，祭司好像一個建造橋樑的人，幫助神與人之間的溝通。
</p>

<p>
    舊約出埃及記中耶和華向以色列人指明他們要作「祭司的國度」，然而，因著人犯罪及離棄神，失落祭司的身份和職責，於是耶穌基督(就是神)作為永遠的大祭司，為世人的罪死在十字架，使罪人稱為義，恢復祭司的國度。
</p>

<p>
    因此，使徒彼得於新約表明信徒是「有君尊的祭司」，表示祭司的職分是尊貴的，叫每一個信徒都運用神所賜與的恩賜，去「宣揚那召你們出黑暗入奇妙光明」的耶穌基督，又去事奉神，彼此服事。
</p>

<p>
    本網站正是出於這概念，希望信徒作為祭司，成為神與人之間的橋樑，為別人祈禱，因為「你們得不著，是因為你們不求。」(雅4:2) ，並且相信「只要信是得著的，就必得著。」(約16:24)
</p>

<p>
    寫到此處，我又想起「我若心裡注重罪孽，主必不聽。」(詩16:18)<br/>
    意思是私下在心裡面留著一個喜歡的罪、看重的罪，那也必定叫主不能聽你的禱告。
</p>

<p>
    願主憐憫那有罪卻因信主而得稱為義的每一個信徒。
</p>


<strong>參考資料：</strong>
<ol>
    <li>梁康民：金燈臺活頁刊1997.9 第71。信徒皆祭司。2013年9月26日。取自http://www.goldenlampstand.org/glb/readglb.php?GLID=07107</li>
    <li>Christian Study。題目：祭司的國度, 主題：凡蒙上帝救贖者皆是君尊的祭司。2013年9月26日。取自http://www.christianstudy.com/data/sermons/priest_w.htm</li>
    <li>流水職事站：第十篇　禱告。2013年9月26日。取自http://www.lsmchinese.org/big5/07online_reading/nee/read.asp?no=3-02-11</li>
</ol>


<p>
    <strong>本網站信仰立場</strong><br />
    「我信上帝﹐全能的父﹐創造天地的主﹔我信我主耶穌基督﹐上帝的獨生子﹔因聖靈感孕﹐由童貞女馬利亞所生﹐在本丟彼拉多手下受難﹐被釘於十字架﹐受死﹐埋葬﹔降在陰間﹔第三天從死人中復活﹔升天﹐坐在全能父上帝的右邊﹔將來必從那裏降臨﹐審判活人死人。我信聖靈﹔我信聖而公之教會﹔我信聖徒相通﹔我信罪得赦免﹔我信身體復活﹔我信永生。阿們。」——使徒信經
</p>
<p>
    如對本網站有任何意見或投訢，請電郵: ttseric@hotmail.com
</p>